<div class="cuerpo">
  <h1>Libros</h1>
  <input class="button1" type="text" [(ngModel)]="com" />
<button class="button" (click)="lib()">Buscar</button>

<div class="book-card" *ngIf="libro.docs.length > 0">

  <img class="Portada" [src]="'https://covers.openlibrary.org/b/id/' + libro.docs[0].cover_i + '-L.jpg'" alt="Portada del libro">

  <h1>{{ libro.docs[0].title }}</h1>

  <h2>Autor:</h2>
  <h1>{{ libro.docs[0].author_name }}</h1>

  <h2>Año de publicación:</h2>
  <h1>{{ libro.docs[0].first_publish_year }}</h1>
  <h1>{{libro.docs[0].cover_edition_key}}</h1>
</div>
  <div class="no-results" *ngIf="libro.docs.length === 0">
    <img src="assets/img/libro (1).png" alt="" class="play">
    <p>No se encontraron resultados.</p>
  </div>
</div>