/* Importa una fuente moderna de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.cuerpo{
  padding-top: 50px;
  background-color: #14161a !important;
  padding-bottom: 60px; /* Ajusta este valor a la altura real de tu footer */
}
h1{
  color:chartreuse;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #29292a;
  margin: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}

input[type="text"] {
  padding: 0.7rem 1rem;
  width: 300px;
  max-width: 90%;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 1rem;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  outline: none;
  border-color: #4a90e2;
}

.button {
  display: block; /* Necesario para que margin auto funcione */
  margin: 0 auto 2rem auto; /* Centrado horizontal y margen inferior */
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button1 {
  display: block; /* Necesario para que margin auto funcione */
  margin: 0 auto 2rem auto; /* Centrado horizontal y margen inferior */
}

.button:hover {
  background-color: #357ab7;
}

/* Contenedor de resultados del libro */
.book-card {
  display: block;
  margin: 0 auto 2rem auto;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 100%;
  max-width: 600px;
  margin-top: 1rem;
  text-align: left;
}

.Portada {
  display: block; /* Necesario para que margin auto funcione */
  margin: 0 auto 2rem auto; /* Centrado horizontal y margen inferior */
}

.book-card h1 {
  font-size: 1.3rem;
  margin: 0.5rem 0 0.2rem 0;
  color: #222;
}

.book-card h2 {
  font-size: 0.9rem;
  margin: 0 0 1rem 0;
  color: #666;
}
.play{
  width: 20%;
}
.no-results {
  color: #e8e8e8;
  text-align: center;
  margin-top: 30px;
  font-size: 1.2rem;
  margin-bottom: 20%;
}