<body class="login-bg">
    <div class="container">
    <div class="row">
        <div class="col">
            <div class="featured-boxes">
                <div class="row">
                    <div class="col-md-6">
                        <div class="featured-box featured-box-primary text-left mt-5">
                            <div class="box-content" id="login-box">
                                <h1 class="tit">Inicio de sesión</h1>
                                <form class="form" (ngSubmit)="iniciarSesion()">
                                    <input
                                        type="email"
                                        placeholder="E-mail"
                                        name="email"
                                        id="email"
                                        [(ngModel)]="email"
                                        required
                                        class="form-control"
                                    /><br>
                                    <input
                                        type="password"
                                        placeholder="Contraseña"
                                        name="password"
                                        id="password"
                                        [(ngModel)]="password"
                                        required
                                        class="form-control"
                                    /><br>
                                    <input
                                        class="submit"
                                        type="submit"
                                        value="Iniciar Sesión"
                                    />
                                    <div *ngIf="mensaje" class="error">{{ mensaje }}</div>
                                    <span [routerLink]="['/register']" style="color:#fff;cursor:pointer;display:block;margin-top:10px;">Registrate</span>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
